.register-page {
    background-color: #f0f4f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-paper {
    padding: 2rem;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .description {
    margin-bottom: 1.5rem;
    color: #777;
  }
  